<!DOCTYPE html>
<html>
<head>
  <title>DoIt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='container'>
    <ul class='nav nav-tabs'>
      <li><%= link_to 'Do It!', root_path %></li>
      <li>
        <% if current_user %>
          <%= link_to 'My Lists', lists_path %>
        <% end %>
      </li>

      <div class="pull-right user-info">
        <% if current_user %>
          <%= current_user.username %> | 
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path %> | 
          <%= link_to 'Sign Up', new_user_registration_path %>
        <% end %>
      </div>
    </ul>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>

</body>
</html>
